/* COLORES
    Gris  : #6B6B6B
    Rojo  : #ED303C
    Azul  : #01528C
    Verde : #116C16
*/
.gris  {color : #6B6B6B}
.rojo  {color : #ED303C}
.azul  {color : #01528C}
.verde {color : #116C16}
.blanco{color : #fff; text-shadow: 0 2px 4px rgba(0,0,0,0.50); }

.bggris  {background : #6B6B6B; color: #FFF;}
.bgrojo  {background : #ED303C; color: #FFF;}
.bgazul  {background : #01528C; color: #FFF;}
.bgverde {background : #116C16; color: #FFF;}
.bgbblanco {background: #fff; color: #ED303C;}

.bggris:hover, .bggris:focus, .bggris:active {background : #585858; color: #FFF;}
.bgrojo:hover, .bgrojo:focus, .bgrojo:active {background : #d92934; color: #FFF;}
.bgazul:hover, .bgazul:focus, .bgazul:active {background : #074571; color: #FFF;}
.bgverde:hover, .bgverde:focus, .bgverde:active {background : #095d0e; color: #FFF;}

@font-face {
    font-family: "Modak";
    src: url("../fonts/Modak-Regular.ttf");
}
@font-face {
    font-family: "Dosis-Regular";
    src: url("../fonts/Dosis-Regular.ttf");
}
@font-face {
    font-family: "Dosis-Light";
    src: url("../fonts/Dosis-Light.ttf");
}
@font-face {
    font-family: "Dosis-ExtraLight";
    src: url("../fonts/Dosis-ExtraLight.ttf");
}
@font-face {
    font-family: "Dosis-ExtraBold";
    src: url("../fonts/Dosis-ExtraBold.ttf");
}
html {
  position: relative;
  min-height: 100%;
  font-family: Dosis-Regular;
}
#element::-webkit-scrollbar {
    display: none;
}
body {
  /* Margin bottom by footer height */
  color: #6B6B6B;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #6B6B6B;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
    color: #eee;
    font-size: 14px
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    /* Nuestros servicios: */
    font-family: "Modak";
    font-size: 64px;
    color: #01528C;
}
h2 {
    /* PARA MASCOTAS: */
    font-family: "Dosis-ExtraBold";
    font-size: 36px;
}
h3 {
    /* Ofrecemos el mejor s: */
    font-family: "Dosis-Regular";
    font-size: 36px;
    color: #6B6B6B;
}
h4 {
    /* FUNERARIA: */
    font-family: "Dosis-Regular";
    font-size: 24px;
}
p {
    font-family: "Dosis-Regular";
    font-size: 16px;
    text-align: justify;
}
nav {
    font-family: "Dosis-Regular";
    text-transform: uppercase;
    font-size: 18px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #01528C;
    border-color: #FFF;
    background-color: #f2f2f2;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #01528C;
    border-color: #FFF;
    background-color: #f2f2f2 !important;

}



a, a:hover,a:active,a:focus,a:visited, .btn {
    text-decoration: none;
    transition: .3s;
}
.text-center > img {
    margin: 0 auto;
}
.noP {
    padding: 0 !important;
}
.btn2 {
    width: 250px;
    height: 50px;
    padding: 12px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: "Dosis-Light";
    font-weight: 100;
    border: 0;
}
.Dosis-ExtraBold {font-family: "Dosis-ExtraBold"}
.telefonos {
    /* 4 804808 - 313 83951: */
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.rota-horizontal {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.cuadroServicio {
    height: 250px auto;
    margin-top: 30px;
}
.white {
    color: #FFF;
}
.light {
    font-weight: lighter;
}




/* sect1 (HEADER) */
.sect1 {
    background: url("../img/header.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding-top: 200px;
    margin-top: 60px;
}
.logoBox {
    width: 337px;
    float: right;
    margin-right: 250px;
}


/* sect2 (Teléfonos) */
.sect2 {
    background: url("../img/grama.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    height: 200px;
    color: #FFF;
}
.sect2 a {
    color: #FFF;
}



/* sect3 (Nuestros servicios) */
.sect3 {
    padding: 100px 0;
    color: #6B6B6B;
}
.funeraria, .paraMascotas {
    text-transform: uppercase;
    margin: 0;
}



/* sect4 (PLAN-EXEQUIAL) */
.sect4 .planBox {
    height: 400px;
    padding: 30px 100px;
    background: #01528C;
}
.sect4 .dogPlan {
    background: url("../img/dogPlan.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}
.sect4 h3 {
    color: #fff;
    font-family: "Dosis-ExtraLight";
    font-weight: 100;
    margin-bottom: 50px;
}
.sect4 p {
    color: #fff;
    font-family: "Dosis-ExtraLight";
    font-weight: 100;
    font-size: 22px;
}
.sect4 .btn {
    margin-top: 50px;
}



/* sect5 (Nuestras carrozas) */
.sect5 {
    padding: 100px 30px;
    color: #6B6B6B;
}
.sect5 h1 {
    margin-bottom: 30px;
}
.sect5 h2 {
    color: #01528C;
    font-size: 18px;
    margin-top: 0;
}
.sect5 p {
    font-size: 14px;
}
.sect5 .carrozas img {
    border: 3px solid #01528C;
    margin: 30px auto;
}
.sect5 .user {
    width: 100px;
    height: 100px;
}
.sect5 .comentario {
    height: 120px;
}


/*sect6*/
.sect6 {
    background: url("../img/grama.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #FFF;
    padding-top: 20px;
}
.sect6 a {
    color: #FFF;
}
.sect6 .dogNoticias {
    background: url("../img/dogNoticias.png") center bottom no-repeat;
    height: 210px;
    margin-bottom: -34px;
}
.sect6 .avisonosotros {
    background: #fff;
    color: #ED303C;
    height: 50px;
    font-family: "Dosis-Light";
    font-size: 18px;
    padding-top: 12px;
}
.sect6 .btnsnot {
    padding-top: 60px;
}


/*sect7*/
.sect7 {
    background: url("../img/arcoiris.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 60px;
}
.sect7 .btn2 {
    margin-top: 20px;
}

.sect7 h3 {
    line-height: unset;
}




/* sect8 CONTÁCTANOS*/
.sect8 {
    background: url(../img/dogContacto.jpg) no-repeat right bottom;
}
.sect8 h1 {
    font-size: 42px;
    color: #ED303C;
    font-family: "Dosis-ExtraLight";
    margin-bottom: 32px;
}
.sect8 .formulario {
    padding: 30px 0;
}
.sect8 .form-control {
    border: 2px solid #01528C !important;
    color: #999 !important;
    border-radius: 0px !important;
    font-family: Dosis-Regular;
    background: rgba(255, 255, 255, 0.7);
}


/* navFooter */
.navFooter {
    background: #01528C;
    color: #FFF;
}
.navFooter a {
    color: #FFF;
    float: left;
}

.footer a {
    color: #FFF;
    font-weight: bold;
}

.navFooter .navbarFooter {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.navFooter .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #01528C !important;
}





















/* Entre que 320px y 460px */
@media screen and (min-width: 300px) and (max-width: 460px) {

    h1 {
        font-size: 36px !important;
    }
    h3 {
        font-size: 25px !important;
    }

}


@media screen and (max-width: 767px) {
    h1 {
        font-size: 48px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #01528C;
        border-color: #FFF;
        background-color: #f2f2f2;
        border-radius: 15px;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #01528C;
        border-color: #FFF;
        background-color: #f2f2f2 !important;
        border-radius: 15px;

    }

    .sect1 {
        background: url("../img/header.jpg") no-repeat top right;
        height: 500px;
        padding: 0;
        padding-top: 100px;
        text-align: center;
    }
    .logoBox {
        width: 250px;
        margin: 0 auto;
        float: none;
    }
    .telefonos {
        font-size: 32px;
    }
    .sect2 {
        padding: 20px 0;
        height: auto;
    }
    .infoServicio {
        text-align: center;
    }
    .sect4 .planBox {
        height: 400px;
        padding: 30px 20px;
        background: #01528C;
    }
    .sect5 {
        padding: 50px 30px;
        color: #6B6B6B;
    }
    .navFooter ul {
        width: 100%;
    }
    .bgrojo {
        margin-top: 10px;
    }
    .sect7 {
        padding: 30px 10px;
    }
    .sect8 {
        background: url(../img/dogContacto.jpg) no-repeat right bottom;
        background-size: 150px auto;
    }
}



/* Entre 768px y 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .sect7 h1{
        font-size: 50px;
    }
    .sect1 {
        background: url("../img/header.jpg") no-repeat top center;
        height: 500px;
        padding: 0;
        padding-top: 100px;
        text-align: left;
    }
    .logoBox {
        width: 250px;
        margin-right: 100px;
    }
    /* sect2 (Teléfonos) */
    .sect2 {
        padding: 20px 0;
        height: 200px;
        color: #FFF;
    }

    .btnsnot{
        padding-top: 60px;
    }

     .sect7 .dogContacto {
    background: url(../img/dogContacto.jpg) no-repeat left bottom !important;
    height: 464px;
    }
}


/* Entre 768px y 991px */
@media screen and (min-width: 992px) and (max-width: 1440px) {
    .sect1 {
        padding: 0;
        padding-top: 200px;
        text-align: left;
    }
    .logoBox {
        width: 250px;
        margin-right: 200px;
    }
    /* sect2 (Teléfonos) */
    .sect2 {
        padding: 20px 0;
        height: 200px;
        color: #FFF;
    }

     .sect2 {
        padding: 20px 0;
        height: 200px;
        color: #FFF;
    }

    .sect7 .dogContacto {
    background: url(../img/dogContacto.jpg) no-repeat bottom left;
    height: 464px;
    }
}
